[class*="primary"], input[type='radio'] {
    color: black;
    background-color: #ffaef4!important;
    accent-color: #953e8a;
    border-color: #953e8a !important;
    margin: 0.2rem;
}

[class*="primary"]:hover {
    background-color: #ffaef4!important;
}