.nav_bar_text {
    font-size: 50px;
}


.spin{
     position: absolute;
     top: 200px;

 }


body {
  background-color: rgba(30,30,30,255);
}


.custom_nav_bar{
    background-color: rgba(44,47,56,255);
    border-radius: 25px;
    border: 10px solid;
    border-color: rgba(44,47,56,255);
    outline: 5px solid rgba(30,30,30,255);
}


.upload_data{
    width: 100%;
    height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    text-vertical-align: middle;
    text-align-vertical: middle;
    color: rgba(225, 225, 225, 255);

}


.sidepanel_text{
    color: rgba(225, 225, 225, 255);
    text-align: center;
}


.sidepanel{
    background-color: rgba(44, 47, 56, 255);
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;

}


.plot{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 10px;
    border: 20px solid;
    border-color: rgba(44,47,56,255);
    border-radius: 25px;
}

